@model DL.Models.Trasa_Ulice

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trasa_Ulice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_trasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_trasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wspolrzedne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wspolrzedne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_trasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_trasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwa_ulicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_ulicy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
