@model DL.Models.Trasa_Ulice

<div>
    <h4>Trasa_Ulice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_trasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_trasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wspolrzedne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wspolrzedne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_trasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_trasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwa_ulicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_ulicy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTrasa_Ulice", new { id = Model.id_trasa_ulice }) |
    @Html.ActionLink("Back to List", "Index")
</p>
