<h1>Admin Panel</h1>



<h2>Użytkownicy</h2>
@Html.Action("GetUsers", "Admin")

<h2>Trasy</h2>
@Html.Action("GetTracks", "Admin")

<h2>Widoki</h2>
@Html.Action("GetWidoki", "Admin")

<h2>Niebezpieczenstwa</h2>
@Html.Action("GetNiebezpieczenstwa", "Admin")

<h2>Oceny</h2>
@Html.Action("GetOceny", "Admin")

<h2>Trasa Ulice</h2>
@Html.Action("GetTrasa_Ulice", "Admin")


